/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v43-latin-regular.woff2") format("woff2");
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v43-latin-700.woff2") format("woff2");
}

:root {
  --color-primary-dark: #21243d;
  --color-primary-light: #846ded;
  --color-contact-light: #ffffff;
}

/* Base */

ul {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-primary-dark);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

main {
  max-width: 929px;
  margin: 0 auto;
  padding: 40px 20px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-primary-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.section {
  margin-bottom: 50px;
}

.author {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}

.author img {
  width: 299px;
  height: 299px;
  border-radius: 50%;
  object-fit: cover;
}

.author-bio h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.author-bio p {
  font-size: 15px;
  font-weight: 400;
  max-width: 575px;
  line-height: 1.6;
}

.contact {
  background-color: var(--color-primary-light);
  border-radius: 5px;
  padding: 40px 31px;
  margin-bottom: 40px;
  color: #fff;
}

.contact h2 {
  color: var(--color-contact-light); /* это #ffffff — белый */
  margin-bottom: 20px;
}

.contact a {
  color: var(--color-contact-light);
  text-decoration: none;
}

.contact-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: baseline;
}

.contact .label {
  font-weight: 700;
  white-space: nowrap;
  color: var(--color-contact-light);
}

.contact .value {
  color: var(--color-contact-light);
  text-decoration: none;
}

.contact .value:hover {
  text-decoration: underline;
}


.contact a:hover {
  text-decoration: underline;
}

.prodject {
  margin-bottom: 40px;
}

.prodject ul {
  padding-left: 20px;
}

.prodject li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.prodject a {
  color: var(--color-primary-light);
  text-decoration: none;
}

.prodject a:hover {
  text-decoration: underline;
}

.soft-sckills,
.hard-skills {
  margin-bottom: 40px;
}


.soft-sckills ul,
.hard-skills ul {
  padding-left: 20px;
}

.soft-sckills li,
.hard-skills li {
  margin-bottom: 10px;
}
